body {
    margin: 0;
    padding: 10px;
    background: #0f172a;
    color: white;
    font-family: system-ui, sans-serif;
    text-align: center;

  }
  h1 {
    font-size: 1.4em;
    margin: 10px 0;
  }
  label { color: #e77070; }

  .piano {
    display: flex;
    margin: 2px;
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
  }
  .key {
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.07s ease;
  }
  .white {
    width: 25px;
    height: 250px;
    background: #a59898;
    border-radius: 0 0 8px 8px;
    border: 1px solid #000;
    z-index: 0;
  }
  .black {
    width: 25px;
    height: 200px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #000;
    background: rgb(105, 53, 248);
    margin: 0 -12px;
    z-index: 1;
    
  }
  .key:active, .key.active {
    transform: translateY(5px) !important;

  }
  .white:active, .white.active { background: #aaa !important; }
  .black:active, .black.active { background: #444 !important; }

  .label {
    position: absolute;
    bottom: 8px;
     width: 100%;
    font-size: 10px;
    font-weight: bold;
    line-height: 2.2;
  }
  .white .label { color: #000; }
  .black .label { color: #fff; }
